@import "tailwindcss";

:root {
  --primary-green: #0b7336;
  --secondary-green: #298d4a;
  --background: #f8fafc;
  --foreground: #0f172a;
  --card: #ffffff;
  --card-foreground: #0f172a;
  --border: #e2e8f0;
}

.dark {
  --primary-green: #298d4a;
  --secondary-green: #0b7336;
  --background: #020617;
  --foreground: #f8fafc;
  --card: #0f172a;
  --card-foreground: #f8fafc;
  --border: #1e293b;
}

body {
  color: var(--foreground);
  background: var(--background);
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
